html {
  color: hsl(0, 0%, 23%);
}

header {
  height: 64px;
  background-color: hsl(210, 100%, 50%);
  font-family: "Roboto",sans-serif;
}

header img {
  padding-left: 24px;
}

header span {
  margin: 0;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

span.colmar {
  color: hsl(0, 0%, 75%);
}
span.academy {
  color: white;
}

nav {
  display: inline-flex;
  float: right;
  margin: 0;
  padding: 23px 0;
}

nav a {
  margin: 0 auto;
  padding-right: 16px;
  color: white;
}

footer {
  padding: 16px 10px 40px 24px;
  background-color: hsl(168, 100%, 90%);
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  background-color: hsl(210, 100%, 50%);
  color: white;
}

footer a {
  padding-right: 12px;
  float: right;
}

h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 23%);
}

h2 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 23%);
}

h3 {
  font-size: 30px;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 23%);
}

h5 {
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: inline-flex;
  height: 64px;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.logo img {
  height: 40px;
}

.name {
  display: inline-block;
  margin: 0;
  padding: 17.5px 0;
}

.banner-left {
  width: 60%;
  padding: 0 24px;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-left: 24px;
}

.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: hsl(210, 100%, 50%);
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 60%;
  font-size: 25px;
  border-radius: 4px;
}

.btn:hover {
  background-color: hsl(210, 100%, 40%);
}

.banner-left img {
  width: 100%;
}

.main-left {
  width: 60%;
  padding: 32px 48px 32px 24px;
}

.main-left img {
  width: 100%;
}

.main-left h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.main-left p {
  padding-bottom: 28px;
}

.main-right {
  flex-basis: 40%;
}

.main-container {
  display: flex;
  border: 2px solid hsl(210, 20%, 90%);
}

.main-container-left {
  flex-basis: 35%;
}

.main-container-left.special {
  padding-top: 16px;
}

.main-container-left img {
  padding: 16px;
}

.main-container-right {
  flex-basis: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container-right a {
  color: hsl(210, 100%, 50%);
  font-size: 18px;
}

.main-container-right a:hover {
  color: hsl(210, 100%, 40%);
  font-style: italic;
}

.main-container-right h3,
.main-container-right h5 {
  padding-bottom: 8px;
  padding-top: 0;
  margin: 0 0;
}

.learning-row {
  display: flex;
  margin: 0 72px 32px 72px;
}

.learning-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.learning-container img {
  width: 100%;
  height: auto;
}

.learning-container.special {
  margin-right: 32px;
}

.container-text {
  padding: 16px 16px 24px 16px;
}

.container-text span,
.container-text p {
  font-family: "Heebo",sans-serif;
  font-size: 20px;
}

.specialbox {
  background-color: hsl(210, 100%, 95%);
}

.container-text p {
  margin: 8px 0 0 0;
}

.container-text h3 {
  margin: 0;
  padding: 0 0 8px 0;
}

.thesis-exhibit {
  display: flex;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 0 24px 24px 24px;
  border-right: 1px solid hsl(240, 100%, 95%);
}

.thesis-left-text h3 {
  margin: 0;
  padding: 24px 0 8px 0;
}

.thesis-left-text p {
  margin: 0;
  padding: 0 0 32px 0;
}

.video {
  width: 100%;
}

.thesis-right {
  flex-basis: 40%;
}

.thesis-right-row {
  display: flex;
}

.thesis-right-row img {
  padding: 16px;
  flex-basis: 35%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  flex-basis: 65%;
}

.text h3 {
  margin: 0;
  padding: 0 0 8px 0;
  width: 90%;
}

.text span {
  width: 80%;
}

.thesis-right-row .text span,
.thesis-left-text p {
  font-size: 20px;
  font-family: "Heebo",sans-serif;
}

 #nav-last {
   padding-right: 24px;
 }

#banner {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 32px 0;
  border-bottom: 1px solid seashell;
  background-color: hsl(210, 100%, 95%);
}

#main {
  display: flex;
  background-color: white;
  font-family: "Heebo",sans-serif;
}

#main h1 {
  font-family: "Heebo",sans-serif;
  font-weight: bold;
  font-size: 40px;
}

#main span {
  font-style: italic;
}

#learning {
  background-color: green;
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 100%, 95%);
}

#learning h2 {
  display: block;
  width: 100%;
  text-align: center;
  padding: 32px 0;
  margin: 0;
}

#thesis {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#thesis h2 {
  width: 100%;
  text-align: center;
  padding: 32px 0;
  position: relative;
}
